/* connect the fonts
font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive;*/

body{
  margin: 0;
  font-family: Nunito Sans ;
}

body * { /* * is a universal selector*/
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 1256px;
  margin: 0 auto;
}

.first-container {
  position: relative;
  padding-left: 42px;
}

.header {
  background-color: black;
}

.header-content {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.logo {
  color: #E3B873;
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.button{
  border-radius: 2px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-style: italic;

  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.button-beige{
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-color: #E3B873;
}

.button-transparent{
  background: transparent;
  border-color: white;
  
}

.logo{
  color:#E3B873;
}

.phone-num{
  color:#E3B873;
  margin-right: 40px;
}

.header-navigation {
  list-style: none;
  display: flex;
}


.header-navigation-item {
  margin-right: 47px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

.header-navigation-item a{
  text-decoration: none;
  color: white;
}

.beige{
  color:#E3B873;
}

.hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  margin: 0;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  width: 600px;
}

.paragraph {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;

  color: #FFFFFF;
}

.slide2 {
  background: #131313;
  margin-top: -2px;
}

.projectNames {
  list-style: none;
  display: flex;
  margin-left: 569px;
  margin-top: 0px;
}

.projectNames-item {
  margin-right: auto; 
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.renovation1 {
  color:#E3B873;
  text-decoration: underline;
}

.description-details-wrapper {
  display: grid;
  grid-template-columns: 190px 190px;
  width: 442 px;
  margin-bottom: 85px;
}

.description-detail {
  margin-right: 34px;
}

.containerMinus43 {
  padding: 43px;
  padding-top: 107px;
  padding-bottom: 416px;
}

.text-14-white {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 34px;
  margin-bottom: 42px;
}

.text-13-white {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.picture-slide2 {
  float:right;
  transition: opacity 800ms ease;
}

.slide2-mini-header{
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  margin-bottom: 0px;
}

.header-slide2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;

  margin-bottom: 0px;
}

.slide3 {
  margin-top: -410px;
}

.subtitle-slide3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  margin-top: 92px;
}

.hr-slide3 {
  width: 55px;
  background: #E3B873;
  border-radius: 30px;
  border-style: solid;
  margin-bottom: 35px;
}

.description-slide3 {
  position: relative;
  overflow: hidden;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;

  color: #363636;
  margin-bottom: 91px;
}

.form-inputs-slide3 {
  display: flex;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image6-slide3-wrapper {
  margin-top: 31px;
  margin-bottom: 62px;
  height: 434px;
}

.pic-slide3 {
  position: absolute;
  overflow: hidden;
  width: 816px;
  
  left: 50%;
  margin-left: -408px;
}

.pic-slide3-overlay {
  position: absolute;
  width: 816px;
  height: 434px;
  left: 50%;
  margin-left: -408px;
  
  background-color: rgba(0, 0, 0, 0.7);
}

.play-button {
  position: absolute;
  width: 146px;
  height: 146px;
  left: 50%;
  margin-left: -73px;
  margin-top: 144px;
}

.label {
  cursor: pointer;
}
.checkbox{
  display: none;
}
.fake{
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}
.fake::before{
  content:"\2714";
  opacity: 0;
  transition: .2s;
}
.checkbox:checked + .fake::before{
  opacity: 1;
}

.button-text-slide3 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  width: 200px;
  height: 35px;

  border: none;
  border-radius: 2px;

  align-self: start;
}

.form-slide3 {   /*the first two properties are necessary for "margin 0 auto" to work*/
  display: block;
  width: 680px;
  margin: 0 auto;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.302);
  }

.form-input-name {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  color: rgba(54, 54, 54, 0.5);

  margin-left: 9px;
  margin-right: 49px;
}

.form-input::placeholder {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #363636;
}

.first-checkbox {
  width: 180px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* or 23px */

  color: #181818;
  margin-left: 240px;
  margin-top: 40px;
  margin-bottom: 148px;
}


.container4 {
  padding-left: 11px;
  padding-right: 11px;
}

.subtitle-slide4 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #181818;
}

.repair_options {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.option-description {
  margin-top: -130px;
  background-color: white;
  position: relative;
  width: 330px;
  height: 286px;
  margin-left: 31px;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.option-subtitle {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #363636;
  padding-left: 34px;
  padding-top: 28px;
}

.option-list {
  padding-left: 34px;
  list-style-position: inside;
}

.option-list-item {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;

  color: #959595;
  /*padding-left: 0px;*/
}

.pic_slide4 {
  position: relative;
}

.option-list-item::marker {
  margin-left: 4px;
}

.option-pricing {
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  border: none;

  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #FFFFFF;
  width: 228px;
  height: 54px;
  margin-left: 1px;
  text-align: center;
  padding: 17px 0 17px;
}

.container4-1 {
  padding-right: 8px;
  position: relative;
  height: 1113px;
}

.building-slide4 {
  position: absolute;
  margin-top: 152px;
  width: 703px;
  height: 645px;
  margin-left: -102px;
  box-shadow: none;
}

.advantages-list {
  margin-top: 0px;
  list-style-position: outside;
  padding-inline-start: 0px;
  margin-left: 0px;
}

.advantages-wrapper {
  position: absolute;
  margin-top: 269px;
  margin-left: 139px;
}

.advantage {
  list-style: none;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #363636;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 85px;
  margin-left: 9px;
}

.outer-circle {
  background: white;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  position: relative;
  /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
}

.inner-circle {
  position: absolute;
  background: #E3B873;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  /*
   Put top edge and left edge in the center
  */
  top: 50%;
  left: 50%;
  margin: -21px 0px 0px -21px;
  /* 
   Offset the position correctly with
   minus half of the width and minus half of the height 
  */
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  text-align: center;

  color: #FFFFFF;
}


.request-wrapper {
  position: absolute;
  margin-top: 257px;
  margin-left: 731px;
  background-color: black;
  width: 506px;
  height: 509px;
}

.form-inputs-s4 {
  display: flex;
  flex-direction: column;
}

.text-s4 {
  color: white;
}

.form-input-name-s4 {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.5);

  width: 408px;

  margin-left: 49px;
  margin-bottom: 48px;
}

.request-form-s4-subtitle {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: #FFFFFF;
  margin-bottom: 39px;
  margin-top: 28px;
}

.form-input-s4::placeholder {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  
  
  color: #FFFFFF;  
}

.form-input-s4 {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 7px;
  }

  .first-checkbox-s4 {
    margin-left: 49px;
    margin-bottom: 33px;
    margin-top: 0px;
  }

  .button-text-s4 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    width: 213px;
    height: 51px;
  
  
    align-self: start;

    border-style: solid;
    border-color: #E3B873;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    margin: 0;
    padding: 0;
    margin-left: 244px;
  }

.bottom-input {
  margin-bottom: 16px;
}

.form-bottom-text-s4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 44px;
  margin-left: 21px;
}

.piggy-bank-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #E3B873;

  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.container5 {
  position: relative;
  padding: 0px 8px;
  display: flex;
  
}

.slide5 {
  position: relative;
  background-image: url('images/slide5/slide5_background.svg');
  height: 864px;
}

.slide5-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.header-s5 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  padding-top: 137px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.deco-styles-s5 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  list-style: none;
  list-style-position: inside;
  
  color: #FFFFFF;

  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;

  height: 513px;
}

.american-style {
  color: #E3B873;
  text-decoration: #E3B873 underline;
}

.pics-col1-s5 {
  margin-left: 215px;
  margin-top: -41px;
}

.pics-col2-s5 {
  margin-left: 5px;
  margin-top: -113px;
}

.left-text-s5 {
  min-width: 280px;
}

.col1row2 {
  margin-top: 32px;
}

.col2row2 {
  margin-top: 31px;
}

.nav-s5 {
  margin-top:36px ;
}

.li-s5 {
  margin-top: 10px;
}

.slide6 {
  background-color: white;
  position: relative;
  height: 1108px;
}

.header-s6 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #181818;
  padding-top: 111px;
}

.partner-logo-s6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.desc-s6 {
  width: 365px;
  margin: 25px auto 43px auto;
  text-align: center;
}

.clients-words {
  width: 376px;
  height: 455px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding: 0px 20px 0px 20px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  
  color: #959595;
}

.testimonies {
  display: flex;
  justify-content: space-around;
}

.portrait {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  
  color: #181818;

  margin-top: 24px;
  height: 86px;
}

.name-s6 {
  width: 178px;
  padding-left: 20px;
}

.client-details {
  margin-top: 37px;
  margin-left: -20px;
}

.city-wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -394px;
}

.callback-form {
  width: 883px; 
  height: 445px; /*445*/
  background: #181818; /*#181818*/
  margin-top: -223px;

  position: absolute;
  left: 50%;
  margin-left: -441px;
}

.header-s7 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;

  padding-top: 34px;
}

.form-input-s7 {
  width: 231px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  color: #FFFFFF;
  margin-right: 50px;
}

.form-input-name-s7 {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
}

.form-input-s7::placeholder {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  
  color: #FFFFFF;
}

.form-input-long-s7 {
  width: 517px;
}

.inputs-s7 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 179px;
}

.row1-wrapper-s7 {
  display: flex;
  flex-direction: row;
}

.margin50 {
  margin-top: 50px;
}

.text {
  color: white;
}

.button-text-s7 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  width: 200px;
  height: 35px;

  border: none;
  border-radius: 2px;  
}

.button-s7 {
  width: 200px;
  height: 51px;
  margin-left: 341px;
  margin-right: 341px;
}

.box-s7 {
  margin-bottom: 50px;
}

.slide7 {
  background: #181818;
  position: relative;
  height: 954px;
}

.pic-wrapper-s7 {
  background-image: url("images/slide7/slide7-back.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position:absolute
}

.slide7-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  position:absolute;
}

.office-address {
  width: 590px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  
  color: #E3B873;

  position: absolute;

  left: 50%;
  margin-left: -295px;
  margin-top: 275px;
}

.logo-s7 {
  width: 70px;
  left: 50%;
  margin-left: -35px;
  margin-top: 353px;
  position: absolute;
}

.map-s7 {
  width: 926px;
  left: 50%;
  margin-left: -463px;
  margin-top: 422px;
  position: absolute;
}

footer {
  background-color: #181818; 
  height: 133px;
}

.footer-content {
  padding-top: 55px;
}

.dot {
  height: 10px;
  width: 10px;
  
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;

  cursor: pointer;
}

.functional-radio {
  width: 206px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot1 {
  background-color: #FFFFFF;
}

.arrow {
  cursor: pointer;
}